@font-face {
  font-family: 'Stratos SemiBold';
  src: url('/webfontkit-Stratos/stratos-semibold-trial-bf63c6049f9cf25-webfont.woff') format('woff'),
       url('/webfontkit-Stratos/stratos-semibold-trial-bf63c6049f9cf25-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Stratos Regular';
  src: url('/webfontkit-Stratos/stratos-regular-trial-bf63c604a073a47-webfont.woff') format('woff'),
       url('/webfontkit-Stratos/stratos-regular-trial-bf63c604a073a47-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #343;
}

li {
  float: inline-start;
}

body {
  background-color: #FFFFFF;
}

.headliner {
  color: #11310e;
  font-family: "Bebas Neue", sans-serif;
  size: 210px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 210px;
  color: #11310e;
}

h2 {
  font-family: "Stratos SemiBold", sans-serif;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  color: #11310e;
}

h3 {
  font-family: "Stratos Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: #11310e;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #11310e;
}

.img-thumbnail {
  border: hidden;
  background-color: transparent;
}

.navbar {
  padding: 0;
  background-color: #FBF3EB;
}

/* dubbele functie
.resize {
  width: 400px;
  height: auto;
  margin-left: 30px;
  margin-right: auto;
}
*/

.resize {
  width: 300px;
  height: auto;
  margin-left: 30px;
  margin-right: auto;
}

.nieuwe_vacature {
  border: none;
  margin-left: auto;
  margin-right: 40px;
  outline: 0;
  display: flex;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 22%;
  font-size: 18px;
}

/* old function
.card {
  max-width: 500px;
  margin-left: auto;
  margin-right: 30px;
  text-align: right;
  padding: 30px;
}
*/

.card {
  display: inline-block;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fbf3eb;
  color: #11310e;
  border: hidden;
}

.title {
  color: grey;
  font-size: 18px;
}

.button {
  color: #000;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: #11310e;
}

button:hover,
a:hover {
  opacity: 0.7;
  background-color: #ec613a;
  color: #000;
}

img {
  background-color: transparent;
  max-height: 500px;
  max-width: 1024px;
  overflow: hidden;
  padding: 10px;
}

.footer {
  font-family: "DM Sans", sans-serif;
  background-color: #FBF3EB;
}

.footer-logo {
  max-width: 200px;
  /* Adjust based on your logo size */
}

.menustyle {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.menustyle:hover {
  background-color: transparent;
}

.menustyle-underlined {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: underline;
}

.menustyle-underlined:hover {
  background-color: transparent;
}
