ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #343;
}

li {
  float: inline-start;
}

body {
  background-color: #FFFFFF;
}

.headliner {
  color: #dbfb60;
  font-family: 'Courier New', Courier, monospace;
  size: 210px;
}

h1, h2, h3, h4, h5, h6 {
  color: #dbfb60;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  color: #dbfb60;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img-thumbnail {
  background-color: #FBF3EB;
  border: hidden;
}

.navibar {
  display: block;
  padding: 8px;
  background-color: #FBF3EB;
}

.resize {
  width: 400px;
  height: auto;
  margin-left: 30px;
  margin-right: auto;
}

.resize {
  width: 300px;
  height: auto;
  margin-left: 30px;
  margin-right: auto;
}

.nieuwe_vacature {
  border: none;
  margin-left: auto;
  margin-right: 40px;
  outline: 0;
  display: flex;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 22%;
  font-size: 18px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin-left: auto;
  margin-right: 30px;
  text-align: right;
  padding: 30px;
}

.title {
  color: grey;
  font-size: 18px;
}

.button {
  color: #000;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  /*color: black;*/
}

button:hover,
a:hover {
  opacity: 0.7;
  background-color: #ec613a;
  color: #000;
}

.card1 {
  background-color: #fbf3eb;
  padding: 10px;
}

img {
  background-color: #fbf3eb;
  max-height: 500px;
  max-width: 1024px;
  overflow: hidden;
  padding: 10px;
}

.footer {
  font-family: "DM Sans", sans-serif;
  background-color: #FBF3EB;
}

.footer-logo {
  max-width: 200px;
  /* Adjust based on your logo size */
}

.menustyle {
  font-weight: bold;
  color: black;
}

.menustyle-underlined {
  color: black;
  text-decoration: underline;
}
