@font-face {
  font-family: 'Stratos SemiBold';
  src: url('/webfontkit-Stratos/stratos-semibold-trial-bf63c6049f9cf25-webfont.woff') format('woff'),
       url('/webfontkit-Stratos/stratos-semibold-trial-bf63c6049f9cf25-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Stratos Regular';
  src: url('/webfontkit-Stratos/stratos-regular-trial-bf63c604a073a47-webfont.woff') format('woff'),
       url('/webfontkit-Stratos/stratos-regular-trial-bf63c604a073a47-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

#navbalk {
  background-color: #FBF3EB !important;

}

body {
  background-color: #ffff;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 210px;
}

h2 {
  font-family: "Stratos SemiBold", sans-serif;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: "Stratos Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.resize {
  width: 300px;
  height: auto;
  margin-left: 30px;
  margin-right: auto;
}

.card {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fbf3eb;
  color: #11310e;
}

.button {
  color: #000;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
}

a {
  text-decoration: none;
  color: #11310e;
  font-size: 16px;
}

button:hover,
a:hover {
  opacity: 0.7;
  background-color: #ec613a;
  color: #000;
}

.btn:hover {
  color: #ffff;
  background-color: #ec613a;
}

table {
  color: #11310e;
}

.table-highest-value {
  color: green;
  font-weight: bold;
}

.table-lowest-value {
  color: red;
  font-weight: bold;
}

.mydropdown {
  background-color: white;
  color: #000;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.mydropdown:hover {
  background-color: #000;
  color: #ffff;
}

.dropdown-item:hover {
  background-color: #6d9ef8;
  color: #ffff;
}

.footer {
  background-color: #FBF3EB;
  padding: 20px 0;
}

.footer-logo {
  max-width: 300px;
  /* Adjust based on your logo size */
}
